:root {
  --border-sosiaal-mobail:rgba(33, 33, 33, 0.2);
  --mobail-menu-background-color: #ffffff;
  --sosiaal-link-background-background: rgba(255, 255, 255, 0.1);
  --standart-black-color: #000000;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --background-modal-window: rgba(0, 0, 0, 0.2);
  --modal-window-color: #ffff;
  --backdrop-hero-color: rgba(0, 0, 0, 0.2);
  --portfolio-background-stikker: rgba(33, 150, 243, 0.9);
  --background-specifications-description: rgba(47, 48, 58, 0.8);
  --rgba-color-for-tel-mail: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --sometimes-black-text-color: #000000;
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-text-color: #2196f3;
  --sometimes-white-text-color: #ffffff;
  --background-color-footer-section-hero: #2f303a;
  --border-color-portfolio: #eeeeee;
  --border-color-for-header: #ececec;
  --costumers-color: #afb1b8;
}

.container {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 100%;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 1200px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 1600px;
  }
}

.list {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  text-decoration: none;
}

.link {
  list-style-type: none;
  text-decoration: none;
}

.item {
  position: relative;
}

.img {
  display: block;
}

.button {
  border-width: 0px;
  border-style: none;
}

.overlay {
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.details-section,
.section-specification,
.team-section,
.portfolio,
.costumers-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .details-section,
.section-specification,
.team-section,
.portfolio,
.costumers-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.header {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color-for-header);
}

.header-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
    align-items: baseline;
    width: 100%;
  }
}
@media screen and (min-width: 1199px) {
  .header-navigation {
    display: flex;
    align-items: center;
    margin-left: 170px;
    width: 100%;
  }
}

.page-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-nav-list {
    display: flex;
    margin-left: 68px;
    width: 100%;
  }
  .page-nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .page-nav-list__link {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--titel-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .page-nav-list__link:hover, .page-nav-list__link:focus {
    color: var(--accent-text-color);
  }
  .page-nav-list .current {
    color: var(--accent-text-color);
  }
  .page-nav-list .current::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    border-bottom: 4px solid var(--accent-text-color);
  }
}

.contact-link-list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-link-list {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.02em;
  }
  .contact-link-list__item:not(:first-child) {
    margin-top: 10px;
  }
  .contact-link-list__item {
    display: flex;
    align-items: center;
  }
  .contact-link-list__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    letter-spacing: 0.02em;
    transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1666666667;
  }
  .contact-link-list__link:hover, .contact-link-list__link:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
  .contact-link-list__icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    fill: var(inherit);
  }
}
@media screen and (min-width: 1199px) {
  .contact-link-list {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 170px;
  }
}
@media screen and (max-width: 1199px) {
  .contact-link-list__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-link-list__item:not(:last-child) {
    margin-right: 50px;
  }
}
.contact-link-list__link {
  display: flex;
  align-items: center;
  color: var(--general-color-text);
  text-decoration: none;
  transition: color var(--timing-function) var(--timing250ms);
}
@media screen and (min-width: 1200px) {
  .contact-link-list__link {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.contact-link-list__link:hover, .contact-link-list__link:focus {
  color: var(--accent-color);
}

.backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 480px) {
  .backdrop {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop {
    display: flex;
  }
}
.backdrop .backdrop.is-hidden .modal-window {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.9);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.team-section {
  min-width: 260px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--button-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-section-list {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team-section-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 30px;
  }
}
.team-section-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: 100%;
  margin: 15px;
}
@media screen and (min-width: 320px) {
  .team-section-list__item {
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-section-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section-list__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.specification-img {
  width: 100%;
}

.description-developer-container {
  padding: 30px 32px;
  text-align: center;
  max-width: 100%;
}
.description-developer-container .name-developer {
  margin-bottom: 0px;
  color: var(--titel-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.description-developer-container .description-developer {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
}

.team-section-title {
  color: var(--titel-text-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--modal-window-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 1199px) {
  .modal-window {
    max-width: 450px;
    height: 95%;
    overflow: scroll;
  }
}
@media screen and (max-width: 767px) {
  .modal-window {
    width: 90%;
    max-width: 450px;
    height: 95%;
    overflow: scroll;
  }
}
.modal-window__title {
  font-family: inherit;
  font-style: inherit;
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 19px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 448px;
  max-height: 40px;
}
@media screen and (max-width: 1199px) and (min-width: 1px) {
  .modal-window__title {
    min-width: 370px;
    max-height: 60px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 480px) {
  .modal-window__title {
    min-width: 370px;
    max-height: 60px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .modal-window__title {
    min-width: 370px;
    max-height: 60px;
  }
}
.modal-window .form-fild-container {
  display: inline-block;
  min-width: 448px;
}
.modal-window .form-fild-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-window .form-fild-container .form-fild {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: var(--titel-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-window .form-fild-container .form-fild__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.modal-window .form-fild-container .form-fild__input {
  width: 100%;
  height: 40px;
  margin-top: 28px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
}
.modal-window .form-fild-container .form-fild__input:focus {
  outline: none;
  border: 1px solid var(--accent-text-color);
  fill: var(--accent-text-color);
  transition: border var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.modal-window .form-fild-container .form-fild__input:focus ~ .form-fild__icon {
  fill: var(--accent-text-color);
}
.modal-window .form-fild-container .form-fild__icon {
  position: absolute;
  top: 43px;
  left: 15px;
  width: 15px;
  height: 13px;
  fill: inherit;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-window .form-fild-container .form-fild__icon::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.modal-window .form-fild-container .form-fild__comment-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-top: 10px;
  width: 100%;
}
.modal-window .form-fild-container .form-fild__comment-textarea {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 15px;
  margin-top: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);
}
.modal-window .form-fild-container .form-fild__comment-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-window .form-fild-container .form-fild__comment-textarea:focus {
  outline: none;
  border: 1px solid var(--accent-text-color);
}
.modal-window .form-fild-container .form-fild__polycy-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal-window .form-fild-container .form-fild__polycy-checkbox:checked + .form-fild__polycy-label::before {
  width: 16px;
  height: 15px;
  background-color: var(--accent-text-color);
  border: 2px solid var(--accent-text-color);
  border-radius: 2px;
  transition: border var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.modal-window .form-fild-container .form-fild__polycy-label {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  align-self: baseline;
  width: 100%;
  margin-top: 0px;
  margin-left: 14px;
  top: 21px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.modal-window .form-fild-container .form-fild__polycy-label::before {
  position: relative;
  display: inline-block;
  content: "";
  top: 2px;
  text-align: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--titel-text-color);
  border-radius: 2px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/chekbox.svg);
}
.modal-window .form-fild-container .form-fild__polycy-label a {
  font-family: inherit;
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  top: 0%;
  left: 0%;
}
@media screen and (min-width: 1px) {
  .modal-window .form-fild-container .form-fild__polycy-label a {
    min-width: 346px;
  }
}
@media screen and (min-width: 480px) {
  .modal-window .form-fild-container .form-fild__polycy-label a {
    min-width: 346px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window .form-fild-container .form-fild__polycy-label a {
    min-width: 346px;
  }
}
@media screen and (min-width: 1199px) and (min-width: 1px) {
  .modal-window .form-fild-container .form-fild__polycy-label {
    min-width: 380px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    margin-left: 0px;
    text-align: start;
  }
}
@media screen and (min-width: 1199px) and (min-width: 480px) {
  .modal-window .form-fild-container .form-fild__polycy-label {
    min-width: 380px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    margin-left: 0px;
    text-align: start;
  }
}
@media screen and (min-width: 1199px) and (min-width: 768px) {
  .modal-window .form-fild-container .form-fild__polycy-label {
    min-width: 380px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    margin-left: 0px;
    text-align: start;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1px) {
  .modal-window .form-fild-container {
    text-align: start;
    min-width: 370px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 480px) {
  .modal-window .form-fild-container {
    text-align: start;
    min-width: 370px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .modal-window .form-fild-container {
    text-align: start;
    min-width: 370px;
  }
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  max-width: 768px;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/hero-x1@480");
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url("../images/hero-x2@480.jpg");
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    width: 100%;
    max-width: 1199px;
    background-image: url("../images/hero-x1@768.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url("../images/hero-x2@768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    height: 600px;
    background-image: url("../images/hero-x1@1200.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: url("../images/hero-x2@1200.jpg");
  }
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--sometimes-white-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero-title {
    padding-left: 118px;
    padding-right: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    display: flex;
    align-items: flex-start;
    letter-spacing: 0.06em;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    max-width: 1600px;
  }
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color-footer-section-hero);
  position: relative;
  min-width: 260px;
}
@media screen and (min-width: 480px) {
  .footer {
    position: relative;
    height: 603px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
    background-color: var(--background-color-footer-section-hero);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1199px) and (min-width: 480px) {
  .footer-info-container {
    position: sticky;
    padding-top: 0px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-info-container {
    position: absolute;
    top: 0px;
    left: 76px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info-container {
    display: flex;
    padding: 0px;
    margin-right: 70px;
    align-items: baseline;
    text-align: start;
    width: 100%;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
  color: var(--sometimes-white-text-color);
}

.address-contact-list__item {
  margin-top: 8px;
}
.address-contact-list__link {
  color: var(--primary-text-color);
}
.address-contact-list__link:hover, .address-contact-list__link:focus {
  color: var(--accent-text-color);
}

.form-subscribe-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .form-subscribe-container {
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .form-subscribe-container {
    min-height: 152px;
  }
}
@media screen and (max-width: 1199px) {
  .form-subscribe-container {
    width: 100%;
    align-items: flex-start;
  }
}
.form-subscribe-container .subscribe-titel {
  margin-top: 60px;
  color: var(--sometimes-white-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
}
@media screen and (min-width: 480px) {
  .form-subscribe-container .subscribe-titel {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .form-subscribe-container .subscribe-titel {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe-container .subscribe-titel {
    margin-top: 0px;
    text-align: start;
  }
}
.form-subscribe-container .form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .form-subscribe-container .form-footer {
    display: flex;
    flex-direction: row;
  }
}
.form-subscribe-container .form-footer .footer-input-email {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 10px 29px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color-footer-section-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .form-subscribe-container .form-footer .footer-input-email {
    margin-right: 12px;
    width: 358px;
  }
}
@media screen and (min-width: 480px) {
  .form-subscribe-container {
    position: sticky;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .form-subscribe-container {
    position: absolute;
    bottom: 0px;
    padding-left: 166px;
    padding-right: 166px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe-container {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    width: 100%;
    width: 570px;
  }
}

.section-specification {
  display: none;
}
@media screen and (min-width: 480px) {
  .section-specification {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-specification {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-specification {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .container-specification {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container-specification {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container-specification {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .specification-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .specification-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .specification-list {
    display: flex;
    margin: -15px;
  }
  .specification-list__item {
    position: relative;
    margin: 15px;
    padding-top: 50px;
  }
  .specification-list .specification-description {
    position: absolute;
    left: 0;
    bottom: 0%;
  }
  .specification-list .specification-description::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 70px;
    text-align: center;
    color: var(--sometimes-white-text-color);
    background-color: var(--background-spesifications-description);
  }
  .specification-list .specification-description .specification-description-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: var(--background-specifications-description);
    color: var(--sometimes-white-text-color);
  }
}

.costumers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 479px) {
  .costumers-list {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .costumers-list :not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .costumers-list {
    width: 480px;
    margin: -15px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .costumers-list {
    width: 768px;
    margin: -15px;
    margin-top: 30px;
  }
}
.costumers-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .costumers-list__item {
    width: calc((100%-2 * 30px) / 2);
    margin: 15px;
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .costumers-list__item {
    width: calc((100%-3 * 30px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .costumers-list__item {
    width: 170px;
  }
}
.costumers-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--costumers-color);
  width: 210px;
  height: 90px;
  border: 1px solid var(--costumers-color);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.costumers-list__link:hover, .costumers-list__link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
.costumers-list__icon {
  display: flex;
  align-items: center;
  width: 44px;
  height: 49px;
  fill: inherit;
}
.costumers-list__icon-unic {
  width: 88px;
  height: 60px;
  fill: inherit;
}
@media screen and (min-width: 768px) {
  .costumers-list .costumers-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .costumers-list {
    width: 1200px;
    max-width: 1600px;
    align-items: center;
  }
}

.costumers-section-title {
  margin-top: 0px;
  margin-bottom: 0px;
  widows: 480px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
}

@media screen and (max-width: 479px) {
  .details-list :not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .details-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .details-list__item {
    display: flex;
    flex-direction: column;
    width: calc((100%-2 * 30) / 2);
    max-width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .details-list {
    display: flex;
    justify-content: center;
  }
  .details-list :not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .details-list__item {
    width: 270px;
  }
}

.details-list-item-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--button-background-color);
  border-radius: 4px;
}
.details-list-item-container__icon {
  display: inline-flex;
  width: 65px;
  height: 70px;
}
.details-list-item-container__title {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
}
@media screen and (min-width: 768px) {
  .details-list-item-container__title {
    text-align: start;
  }
}
.details-list-item-container__description {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
}
@media screen and (min-width: 768px) {
  .details-list-item-container__description {
    text-align: start;
  }
}

.mobail-menu {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  min-width: 200px;
  width: 100%;
  height: 796px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: var(--mobail-menu-background-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.mobail-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.backdrop.is-hidden .modal-window {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.9);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.seciton-products {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .seciton-products {
    min-width: 260px;
    max-width: 768px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .seciton-products {
    width: 768px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .seciton-products {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.products {
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .products {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    width: 768px;
    max-width: 768px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    justify-content: center;
    width: 1200px;
    max-width: 1600px;
  }
}

.header-mobile-menu-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0px;
  fill: var(--titel-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.header-mobile-menu-button:hover, .header-mobile-menu-button:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}
.header-mobile-menu-button__icon {
  fill: inherit;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header-mobile-menu-button {
    display: none;
  }
}

.footer-subscribe-button {
  position: relative;
  display: flex;
  text-align: start;
  width: 100%;
  max-width: 215px;
  height: 50px;
  padding: 10px 28px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--sometimes-white-text-color);
  text-align: center;
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  fill: var(--sometimes-white-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.footer-subscribe-button:hover, .footer-subscribe-button:focus {
  color: var(--titel-text-color);
  fill: var(--titel-text-color);
}
.footer-subscribe-button__icon {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 29px;
  fill: inherit;
}

.hero-button {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  margin-top: 30px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--sometimes-white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.hero-button:hover, .hero-button:focus {
  cursor: pointer;
  color: var(--titel-text-color);
}

.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo-studio-part-header {
  color: var(--standart-black-color);
}

.logo-studio-part-footer {
  color: var(--sometimes-white-text-color);
}

.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--sometimes-white-text-color);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--sometimes-black-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.modal-button-close:hover {
  fill: var(--accent-text-color);
}
.modal-button-close__icon {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 11px;
  height: 11px;
  fill: inherit;
}

.submit-button-container {
  display: inline-flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 74px;
}
.submit-button-container__button {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--sometimes-white-text-color);
  background: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.submit-button-container__button:focus {
  border: none;
}
@media screen and (min-width: 1px) {
  .submit-button-container__button {
    max-width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 480px) {
  .submit-button-container__button {
    max-width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .submit-button-container__button {
    max-width: 200px;
    height: 50px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .submit-button-container .submit-button-container {
    width: 370px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sosiaal-links-team-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.sosiaal-links-team-list :not(:last-child) {
  margin-right: 10px;
}
.sosiaal-links-team-list__item {
  display: flex;
  width: 44px;
  height: 44px;
}
.sosiaal-links-team-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--costumers-color);
  transition: fill var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}
.sosiaal-links-team-list__link:hover, .sosiaal-links-team-list__link:focus {
  background-color: var(--accent-text-color);
  fill: var(--sometimes-white-text-color);
}
.sosiaal-links-team-list__icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.footer-sosiaal-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.footer-sosiaal-links-container .footer-sosiaal-links-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--sometimes-white-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
}
.footer-sosiaal-links-container .footer-sosiaal-links-list {
  display: flex;
  margin-top: 20px;
}
.footer-sosiaal-links-container .footer-sosiaal-links-list__item {
  width: 44px;
  height: 44px;
}
.footer-sosiaal-links-container .footer-sosiaal-links-list__item:not(:last-child) {
  margin-right: 10px;
}
.footer-sosiaal-links-container .footer-sosiaal-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--sosiaal-link-background-background);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.footer-sosiaal-links-container .footer-sosiaal-links-list__link:hover, .footer-sosiaal-links-container .footer-sosiaal-links-list__link:focus {
  background-color: var(--accent-text-color);
}
.footer-sosiaal-links-container .footer-sosiaal-links-list__icon {
  width: 20px;
  height: 20px;
  fill: inherit;
}
@media screen and (max-width: 1199px) and (min-width: 480px) {
  .footer-sosiaal-links-container {
    position: sticky;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer-sosiaal-links-container {
    position: absolute;
    top: 0px;
    right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sosiaal-links-container {
    padding: 0px;
    margin-right: 93px;
    align-items: flex-start;
  }
}

.title {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--titel-text-color);
  letter-spacing: 0.03em;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
}
@media screen and (min-width: 480px) {
  .title {
    letter-spacing: 0.03em;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 768px) {
  .title {
    letter-spacing: 0.03em;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}

.mobail-menu-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--sometimes-white-text-color);
  cursor: pointer;
  fill: var(--sometimes-black-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
@media screen and (max-width: 450px) and (min-width: 200px) {
  .mobail-menu-button-close {
    transform: scale(1.5);
  }
}
.mobail-menu-button-close:hover {
  fill: var(--accent-text-color);
}
.mobail-menu-button-close__icon {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  fill: inherit;
}

.mobail-navigation :not(:first-child) {
  margin-top: 36px;
}
.mobail-navigation__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  color: var(--sometimes-black-text-color);
  letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mobail-navigation__link:hover, .mobail-navigation__link:focus {
  color: var(--accent-text-color);
}
@media screen and (max-width: 450px) and (min-width: 200px) {
  .mobail-navigation {
    transform: scale(0.6);
  }
}

.mobail-navigation .current-mobile {
  color: var(--accent-text-color);
}

@media screen and (max-width: 450px) and (min-width: 200px) {
  .mobail-menu-contact {
    justify-content: center;
    transform: scale(0.6);
  }
}
.mobail-menu-contact .mobail-menu-contact__item {
  margin-top: 302px;
}
.mobail-menu-contact .mobail-menu-contact__item + .item {
  margin-top: 32px;
}
.mobail-menu-contact__link-tel {
  color: var(--accent-text-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
}
.mobail-menu-contact__link-mail {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mobail-sosiaal {
  display: flex;
  width: 100%;
}
.mobail-sosiaal__item {
  margin-top: 64px;
  width: 100%;
}
.mobail-sosiaal__link {
  width: 100%;
  padding: 10px;
  color: var(--accent-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  border-right: 1px solid var(--border-sosiaal-mobail);
}
@media screen and (max-width: 450px) and (min-width: 200px) {
  .mobail-sosiaal {
    display: flex;
    justify-content: center;
    transform: scale(0.6);
  }
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 260px;
  margin-top: 40px;
}
@media screen and (max-width: 479px) and (min-width: 480px) {
  .portfolio-list .portfolio-list__item:not(:first-child) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    width: 768px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    justify-content: center;
    max-width: 1600px;
    width: 1200px;
    margin-top: 50px;
  }
}
.portfolio-list .portfolio-list__item:hover,
.portfolio-list .portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list .portfolio-list__item:hover .portfolio-text-container,
.portfolio-list .portfolio-list__item:focus .portfolio-text-container {
  transform: translateY(0);
}
@media screen and (max-width: 767px) {
  .portfolio-list__item:not(:first-child) {
    margin-top: 30px;
  }
}
.portfolio-list__item {
  position: relative;
  min-width: 260px;
  width: 100%;
  border: 1px solid var(--border-color-portfolio);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc((100%-2 * 30) / 2);
    margin: 15px;
    max-width: 354px;
  }
}
.portfolio-list__item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.portfolio-list__item .portfolio-list-img {
  width: 100%;
}
.portfolio-list__item .portfolio-link-overlay {
  position: relative;
  width: 100%;
}
.portfolio-list__item .portfolio-link-overlay .image-examples {
  margin: 0px;
  width: 100%;
}
.portfolio-list__item .portfolio-link-overlay .portfolio-text-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-background-stikker);
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768) {
  .portfolio-list__item .portfolio-link-overlay .portfolio-text-container {
    display: flex;
    align-items: flex-start;
  }
}
.portfolio-list__item .portfolio-link-overlay .portfolio-text-container .portfolio-link-overlay-text {
  width: 402px;
  height: 140px;
  text-align: start;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 77px 24px;
  color: var(--sometimes-white-text-color);
}
@media screen and (min-width: 768px) {
  .portfolio-list__item .portfolio-link-overlay .portfolio-text-container .portfolio-link-overlay-text {
    max-width: 306px;
    max-height: 196px;
    padding: 17px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item .portfolio-link-overlay .portfolio-text-container .portfolio-link-overlay-text {
    padding: 17px 24px;
    max-height: 168px;
    width: 322px;
  }
}
.portfolio-list__item .container-title-item-examples {
  padding: 20px 24px;
  text-align: left;
}
.portfolio-list__item .container-title-item-examples .examples-project-title {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item .container-title-item-examples .examples-project-title {
    width: 322px;
  }
}
.portfolio-list__item .container-title-item-examples .description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
  color: var(--primary-text-color);
}

.is-hidden-portfolio {
  overflow: hidden;
}

.portfolio-product-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-product-list .portfolio-product__item {
  margin-top: 21px;
}
.portfolio-product-list .portfolio-product__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-product__link {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.733;
  letter-spacing: 0.03em;
  background-color: var(--button-background-color);
  color: var(--titel-text-color);
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
}
.portfolio-product__link:hover, .portfolio-product__link:focus {
  background-color: var(--accent-text-color);
  color: var(--sometimes-white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */