.backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}
 .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .backdrop.is-hidden .modal-window {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.9);
  }

  