.costumers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.costumers-list {
  display: flex;
  margin-top: 50px;
}

.costumers-link:not(:last-child) {
  margin-right: 30px;
}

.costumers-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  align-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--costumers-color);
  transition: fill var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.costumers-button:hover,
.costumers-button:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}
