.details-section {
  max-width: 480px;
  min-width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px; 

  @media screen and (min-width: 480px) {
    width: 100%;
    max-width: 768px
  }
  


@media screen and (min-width: 768px) {
  width: 100%;
  max-width: 1200px;

}
@media screen and (min-width: 1200px) {
    width: 100%;
   min-width: 1600px;
   padding-top: 94px;
 padding-bottom: 0px;
}
}
 

.details-container{
  @media screen and(min-width: 1200px) {
    width: 100%;
   min-width: 1600px;
  }
}

.details-list {
  min-width: 350px;
display: flex;
flex-wrap:wrap;
justify-content: center;
  @media screen and(max-width: 479px) {
    & {
      :not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    @media screen and (min-width: 768px) {
    
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    &__item {
   max-width: 450px;
   min-width: 300px;
   width: 100%;


      @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;

        width: calc((100%-2 * 30) / 2);
        max-width: 354px;
        margin: 15px;
      }
      @media screen and (min-width: 1200px) {
        max-width: 270px;
      }
    }
  }

 
  &__item {
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 100%;
  
   
    
      
      & {
        :not(:last-child){
          margin-right: 30px;
        }
      }
    }
}

.details-list-item-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--button-background-color);
  border-radius: 4px;

  &__icon {
    display: inline-flex;
    width: 65px;
    height: 70px;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--titel-text-color);
    @include font(14px, 700, 16px);
    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }
  &__description {
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 0px;
    @include font(14px, 400, 24px);
    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }
}


























// .details-list-container {
//   align-items: center;
// }

// .details-list-container {
//   padding-top: 94px;
//   background-color: var(--sometimes-white-text-color);
// }
// .details-list {
//   display: flex;
//   justify-content: center;

//   padding: 0px;
//   & .details-item + .details-item {
//     margin-left: 30px;
//   }
// }

// .icon-container {
//   background-color: var(--button-background-color);
//   width: 270px;
//   height: 120px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .antenna-icon-svg {
//   width: 65px;
//   height: 70px;
// }
// .clock-icon-svg {
//   width: 67px;
//   height: 70px;
// }
// .diagram-icon-svg {
//   width: 70px;
//   height: 70px;
// }
// .astranaut-icon-svg {
//   width: 70px;
//   height: 70px;
// }

// .details-title {
//   margin-top: 30px;
//   margin-bottom: 0px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--titel-text-color);
// }
// .details-title-description {
//   margin-top: 10px;
//   margin-bottom: 0px;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
// }

// .details-item {
//     margin-bottom: 0px;
//     max-width: 270px;

//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.03em;
//   }
