.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  justify-content: center;
  text-align: center;
  

  @media screen and(min-width:1200px) {
    display: flex;
  
    padding-top: 200px;
    padding-bottom: 200px;
  
  }

}
.hero-container{
  text-align: center;
}

.hero-title {
  @include font(26px, 900, 42px);
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--sometimes-white-text-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
 @media screen and (min-width: 1200px) {
  letter-spacing: 0.06em;
   @include font (44px, 900, 60px);
   width: 666px;
   margin-left: 300px;
  
 }
}

// .section-hero {
//     justify-content: center;
//     padding-top: 200px;
//     background-color: var(--background-color-footer-section-hero);
//   }

// .hero-container {
//     text-align: center;
//   }
// .hero-title{
//     margin-top: 0px;
//     margin-bottom: 0px;
//     margin-right: auto;
//     margin-left: auto;
//     max-width: 696px;

//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.363;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--sometimes-white-text-color);
//   }
