.section-specification {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .list-specification {
    padding: 0px;
    margin-top: 94px;
  }

.specification-list {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 370px;
    margin-top: 50px;
    padding: 0px;
  }
  .specification-list .specification-item + .specification-item {
    margin-left: 30px;
  }
  .specification-item {
    position: relative;
  }
  .specification-description {
    position: absolute;
    left: 0;
    bottom: 0%;
  }
  .specification-description-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: var(--background-specifications-description);
    color: var(--sometimes-white-text-color);
  }
  .specification-description::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 70px;
    text-align: center;
    color: var(--sometimes-white-text-color);
    background-color: var(--background-spesifications-description);
  }