.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button-background-color);
  }
  
  .team-section-title {
    margin-top: 0px;
    margin-bottom: 0px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titel-text-color);
  }
  
  .team-section-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 50px;
  }
  .team-section-list .team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
  }
  
  .team-item {
    text-align: center;
    background-color: var(--sometimes-white-text-color);
  }
  .team-section-list .team-item + .team-item {
    margin-left: 30px;
  }
  .name-developer {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.189;
    letter-spacing: 0.03em;
    color: var(--titel-text-color);
  }
  .description-developer-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .description-developer {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.189;
    letter-spacing: 0.03em;
  }
  