
  .hero-button {

    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    min-height: 50px;
    margin-top: 30px;
  
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--sometimes-white-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    transition: color var(--transition-duration) var(--transition-timing-function);
    &:hover,
    &:focus {
      cursor: pointer;
      color: var(--titel-text-color);
    }
  }
