.logo {
  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-studio-part-header {
  color: var(--standart-black-color);
}
.logo-studio-part-footer {
  color: var(--sometimes-white-text-color);
}
