.submit-button-container {
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 74px;
    &__button {
      position: absolute;
      top: 0px;
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-self: center;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      padding: 10px 32px;
      color: var(--sometimes-white-text-color);
      background: var(--accent-text-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border: transparent;
      border-radius: 4px;
      cursor: pointer;
      &:focus {
        border: none;
      }
    }
  }

 