.mobail-navigation {

    :not(:first-child){
      margin-top: 36px;
    }
   
    &__link{
      @include font(40px, 500, 47px);
      color: var(--sometimes-black-text-color);
      letter-spacing: 0.02em;
  transition: color var(--transition-duration) var(--transition-timing-function);
    
      &:hover,
      &:focus{
        color: var(--accent-text-color);
      }
    }
      
    @media screen and (max-width: 450px) {
      @media screen and (min-width: 200px) {
       
      
        
        transform: scale(0.6);
      }
    }
  }
  
  .mobail-navigation .current-mobile{
    color: var(--accent-text-color);
 
 
  }

  
