.title {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: var(--titel-text-color);
  letter-spacing: 0.03em;
  @include font(28px, 700, 33px);

  @media screen and (min-width: 480px) {
    letter-spacing: 0.03em;
    @include font(28px, 700, 33px);
  }
  @media screen and (min-width: 768px) {
    letter-spacing: 0.03em;

    @include font(28px, 700, 33px);
  }
  @media screen and (min-width: 1200px) {
    @include font(36px, 700, 42px);

    letter-spacing: 0.03em;

    
  }
}
















// .title {
//   margin-top: 0px;
//   margin-bottom: 0px;

//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.166;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--titel-text-color);
// }
