:root {
  --border-sosiaal-mobail:rgba(33, 33, 33, 0.2);
  --mobail-menu-background-color: #ffffff;
    --sosiaal-link-background-background: rgba(255, 255, 255, 0.1);
    --standart-black-color: #000000;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --background-modal-window: rgba(0, 0, 0, 0.2);
    --modal-window-color: #ffff;
    --backdrop-hero-color: rgba(0, 0, 0, 0.2);
    --portfolio-background-stikker: rgba(33, 150, 243, 0.9);
    --background-specifications-description: rgba(47, 48, 58, 0.8);
    --rgba-color-for-tel-mail: rgba(255, 255, 255, 0.6);
    --button-background-color: #f5f4fa;
    --sometimes-black-text-color: #000000;
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accent-text-color: #2196f3;
    --sometimes-white-text-color: #ffffff;
    --background-color-footer-section-hero: #2f303a;
    --border-color-portfolio: #eeeeee;
    --border-color-for-header: #ececec;
    --costumers-color: #afb1b8;
  }

  @mixin font ($fs:15px, $fw:400, $lh:24px){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh/$fs;
    }
  
  